@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');

:root {
    --primary-color: #fef08a;
    --secondary-color: #1e293b;
    --width-break: 800px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Kalam', cursive;
    color: #333333;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

.banana-header{
    padding:1rem;
    background-color:var(--primary-color);
    margin-top:0rem;
    font-size:2rem;
    font-family:sans-serif;
    font-weight:100;
    text-align:center;
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}

#btn-translator{
    background-color:var(--primary-color);
    color:black;
    width:15rem;
    padding:1rem;
    border:none;
    border-radius:1rem;
    margin:1rem;
}

    #output{
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    border: 1px solid var(--secondary-color);
    }

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin-top:1rem;
    margin-bottom:1rem; */
}

/* lists */
.list-non-bullet {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/*footer*/
.footer{
    background-color: var(--primary-color);
    padding:1rem 0rem;
    text-align: center;
    color:black;
    border-top-right-radius: 1rem;
}

footer p {
    max-width: var(--width-break);
    margin: auto;
}

.footer .link{
    color:black;
}

.footer .footer-header{
    font-weight:bold;
    font-size:medium;
}

.footer ul{
    padding-inline-start: 0rem;
}
